@import "tailwindcss";

body {
  @apply bg-white text-slate-800 antialiased;
}

.container {
  @apply mx-auto max-w-6xl px-4;
}

.header {
  @apply py-4 border-b border-slate-200;
}

.card {
  @apply bg-white shadow-sm rounded-2xl p-4;
}